script(type='text/javascript' src='javascripts/datatable.js')
table#tblProducts.table.table-hover.table-bordered
  thead
    th SKU/Barcode
    th Product Details
    th Category
    th Price
  tfoot
    th SKU/Barcode
    th Product Details
    th Category
    th Price
  tbody
    - for(var i=0; i <rows.length;++i)
      tr(id=rows[i][0],class="product_row",data-toggle="modal",
        data-id=rows[i][0],data-sku=rows[i][1],data-name=rows[i][2],
        data-catname=rows[i][3],data-catid=rows[i][5],
        data-price=rows[i][4],data-target="#updateModal")
        td=rows[i][1]
        td=rows[i][2]
        td=rows[i][3]
        td="$"+rows[i][4]